<!DOCTYPE html PUBLIC '-//W3C//DTD XHTML 1.0 Strict//EN' 'http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd'>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="fr" lang="fr">
  <head>    
    <title>Munin | Service View</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta http-equiv="Content-Script-Type" content="text/javascript" />
    <meta http-equiv="Content-Style-Type" content="text/css" />
    <meta name="keywords" content="system overview, monitoring, unix, linux, graph, system information, node view, domain view, service view, template author : jonny mccullagh" />
    <meta name="revisit-after" content="15 days" />
    <meta name="robots" content="index, follow" />
    <link rel="shortcut icon" type="images/x-icon" href="favicon.ico" />
    <link rel="stylesheet" href="../style.css" type="text/css" media="all" />
    <script type="text/javascript">
      setTimeout("document.location.reload()", 300000);
    </script>
  </head>
  <body>
    <div id="header">
      <a href="../index.html" title="Go to munin overview"><img src="../logo.png" alt="Munin" /></a>
      <p id="navigation"><a href="index.html">
		<TMPL_VAR NAME="DOMAIN"></a> &#0187; <a href="<TMPL_VAR NAME="NODE">.html"><TMPL_VAR NAME="NODE"></a> &#0187; <TMPL_VAR ESCAPE="HTML" NAME="SERVICE">
	  </p>
    </div> 
    <div id="content-with-fixed-width">
    <TMPL_LOOP NAME="SERVICES">
      <h3<TMPL_IF NAME="STATE_WARNING"> class="warning"</TMPL_IF><TMPL_IF NAME="STATE_CRITICAL"> class="critical"</TMPL_IF>><TMPL_VAR ESCAPE="HTML" NAME="LABEL"></h3>
      <p>
        <img src="<TMPL_VAR NAME="IMGDAY">" alt="Daily Graph" <TMPL_IF NAME="IMGDAYWIDTH">width="<TMPL_VAR NAME="IMGDAYWIDTH">" </TMPL_IF> <TMPL_IF NAME="IMGDAYHEIGHT">height="<TMPL_VAR NAME="IMGDAYHEIGHT">"</TMPL_IF>/>
        <img src="<TMPL_VAR NAME="IMGWEEK">" alt="Weekly Graph" <TMPL_IF NAME="IMGWEEKWIDTH">width="<TMPL_VAR NAME="IMGWEEKWIDTH">" </TMPL_IF> <TMPL_IF NAME="IMGWEEKHEIGHT">height="<TMPL_VAR NAME="IMGWEEKHEIGHT">"</TMPL_IF>/>
      </p>
      <p>
        <img src="<TMPL_VAR NAME="IMGMONTH">" alt="Monthly Graph" <TMPL_IF NAME="IMGMONTHWIDTH">width="<TMPL_VAR NAME="IMGMONTHWIDTH">" </TMPL_IF> <TMPL_IF NAME="IMGMONTHHEIGHT">height="<TMPL_VAR NAME="IMGMONTHHEIGHT">"</TMPL_IF>/>
        <img src="<TMPL_VAR NAME="IMGYEAR">" alt="Yearly Graph" <TMPL_IF NAME="IMGYEARWIDTH">width="<TMPL_VAR NAME="IMGYEARWIDTH">" </TMPL_IF> <TMPL_IF NAME="IMGYEARHEIGHT">height="<TMPL_VAR NAME="IMGYEARHEIGHT">"</TMPL_IF>/>
      </p>
      <TMPL_IF NAME="IMGWEEKSUM">
      <p>
        <img src="<TMPL_VAR NAME="IMGWEEKSUM">" alt="Summed Weekly Graph" <TMPL_IF NAME="IMGWEEKSUMWIDTH">width="<TMPL_VAR NAME="IMGWEEKSUMWIDTH">" </TMPL_IF> <TMPL_IF NAME="IMGWEEKSUMHEIGHT">height="<TMPL_VAR NAME="IMGWEEKSUMHEIGHT">"</TMPL_IF>/>
        <img src="<TMPL_VAR NAME="IMGYEARSUM">" alt="Summed Monthly Graph" <TMPL_IF NAME="IMGYEARSUMWIDTH">width="<TMPL_VAR NAME="IMGYEARSUMWIDTH">" </TMPL_IF> <TMPL_IF NAME="IMGYEARSUMHEIGHT">height="<TMPL_VAR NAME="IMGYEARSUMHEIGHT">"</TMPL_IF>/>
      </p>
      </TMPL_IF>
      <br />
      <TMPL_LOOP NAME="GRAPHINFO">
      <p><TMPL_VAR NAME="INFO"></p>
      </TMPL_LOOP>
      <br />
      <table width="100%">
	<caption>Graph Information</caption>
        <tr>
          <th align="left">Field</th>
          <th align="left">Internal name</th>
          <th align="center"><a href="../definitions.html#data_types">Type</a></th>
	  <th align="center">Warning</th>
	  <th align="center">Critical</th>
          <th>Information</th>
        </tr>
        <TMPL_LOOP NAME="FIELDINFO">
        <tr>
          <td align="left"><TMPL_VAR ESCAPE="HTML" NAME="LABEL"></td>
          <td align="left"><TMPL_VAR ESCAPE="HTML" NAME="FIELD"></td>
          <td align="center"><TMPL_VAR NAME="TYPE"></td>
          <td align="center"<TMPL_IF NAME="STATE_WARNING"> class="warning"</TMPL_IF>><TMPL_VAR NAME="WARN"></td>
          <td align="center"<TMPL_IF NAME="STATE_CRITICAL"> class="critical"</TMPL_IF>><TMPL_VAR NAME="CRIT"></td>
          <td align="left"><TMPL_VAR ESCAPE="HTML" NAME="INFO"></td>
        </tr>
        </TMPL_LOOP>
      </table>
      </TMPL_LOOP>
    </div>
    <div id="footer">
      This page was generated by <a href="http://munin.sourceforge.net" title="Munin Official Website">munin</a> at <TMPL_VAR NAME="TIMESTAMP">
    </div>
  </body>
</html>
