<!DOCTYPE html PUBLIC '-//W3C//DTD XHTML 1.0 Strict//EN' 'http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd'>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="fr" lang="fr">
  <head>
    <title>Munin | Domain View | <TMPL_VAR ESCAPE="HTML" NAME="DOMAIN"></title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta http-equiv="Content-Script-Type" content="text/javascript" />
    <meta http-equiv="Content-Style-Type" content="text/css" />
    <meta name="keywords" content="system overview, monitoring, unix, linux, graph, system information, node view, domain view, service view, template author : jonny mccullagh" />
    <meta name="revisit-after" content="15 days" />
    <meta name="robots" content="index, follow" />
    <link rel="shortcut icon" type="images/x-icon" href="favicon.ico" />
    <link rel="stylesheet" href="../style.css" type="text/css" media="all" />
    <script type="text/javascript">
      setTimeout("document.location.reload()", 300000);
    </script>
  </head>
  <body>
    <div id="header">
      <a href="../index.html" title="Go to munin overview"><img src="../logo.png" alt="munin" /></a>
      <p id="navigation"><TMPL_VAR ESCAPE="HTML" NAME="DOMAIN"> ( <a href="comparison-day.html">day</a> <a href="comparison-week.html">week</a> <a href="comparison-month.html">month</a> <a href="comparison-year.html">year</a> )</p>
    </div> 
    <div id="content">
      <ul>  
      <TMPL_LOOP NAME="NODES">
        <li class="domain"><a href="<TMPL_VAR NAME="NODE">.html"><TMPL_VAR ESCAPE="HTML" NAME="NODE"></a>
        <ul>
        <TMPL_LOOP NAME="CATEGORIES">
          <li class="domain"><a href="<TMPL_VAR NAME="NODE">.html#<TMPL_VAR NAME="NAME">"><TMPL_VAR ESCAPE="HTML" NAME="NAME"></a>
          <ul>
          <TMPL_LOOP NAME="SERVICES">
            <li class="host"><a<TMPL_IF NAME="STATE_WARNING"> class="warning"</TMPL_IF> <TMPL_IF NAME="STATE_CRITICAL"> class="critical"</TMPL_IF> href="<TMPL_VAR NAME="NODE">-<TMPL_VAR NAME="SERVICE">.html"><TMPL_VAR ESCAPE="HTML" NAME="LABEL"></a></li>
          </TMPL_LOOP> 
          </ul>
          </li>
        </TMPL_LOOP>
        </ul>
        </li>
      </TMPL_LOOP>
      </ul>
    </div>
  <div id="footer">This page was generated by <a href="http://munin.sourceforge.net" title="Munin Official Website">munin</a> at <TMPL_VAR NAME="TIMESTAMP"></div>
  </body>
</html>

