<!DOCTYPE html PUBLIC '-//W3C//DTD XHTML 1.0 Strict//EN' 'http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd'>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="fr" lang="fr">
  <head>
    <title>Munin | Node View</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta http-equiv="Content-Script-Type" content="text/javascript" />
    <meta http-equiv="Content-Style-Type" content="text/css" />
    <meta name="keywords" content="system overview, monitoring, unix, linux, graph, system information, node view, domain view, service view, template author : jonny mccullagh" />
    <meta name="revisit-after" content="15 days" />
    <meta name="robots" content="index, follow" />
    <link rel="shortcut icon" type="images/x-icon" href="favicon.ico" />
    <link rel="stylesheet" href="../style.css" type="text/css" media="all" />
    <script type="text/javascript">
      var currentCategory;
      var currentMenuItem;

      setTimeout("document.location.reload()", 300000);

      function showCategory(category) {
        document.getElementById(category).style.display="block";
      }

      function hideCategory(category) {
        currentMenuItem.setAttribute('id', '');
        document.getElementById(category).style.display="none";
      }

      function switchToCategory(category, item) {
        hideCategory(currentCategory);
        currentCategory = category;
        currentMenuItem = item;
        currentMenuItem.setAttribute('id', 'current');
        showCategory(category);
      }

      function init() {
        currentCategory = self.location.href.split('#')[1];

        if (currentCategory == null || currentCategory == "") {
          currentCategory = "Disk";
        }

        showCategory(currentCategory);
        currentMenuItem = document.getElementById('menu-' + currentCategory).firstChild;
        currentMenuItem.setAttribute('id', 'current');
      }
    </script>
  </head>
  <body onload="init()">
    <div id="header">
      <a href="../index.html" title="Go to munin overview"><img src="../logo.png" alt="Munin" /></a>
      <p id="navigation"><a href="index.html"><TMPL_VAR ESCAPE="HTML" NAME="DOMAIN"></a> &#0187; <TMPL_VAR ESCAPE="HTML" NAME="NODE"></p>
    </div>
    <ul id="menu">
      <TMPL_LOOP NAME="CATEGORIES">
      <li id="menu-<TMPL_VAR ESCAPE="HTML" NAME="NAME">"><a href="#" onclick="javascript:switchToCategory('<TMPL_VAR ESCAPE="HTML" NAME="NAME">', this);" title="<TMPL_VAR ESCAPE="HTML" NAME="NAME">"><TMPL_VAR NAME="NAME"><TMPL_IF NAME="STATE_WARNING"><span class="warning"> (warning)</span></TMPL_IF><TMPL_IF NAME="STATE_CRITICAL"><span class="critical"> (critical)</span></TMPL_IF></a></li>
      </TMPL_LOOP>
    </ul>
    <div id="content-with-fixed-width">
      <TMPL_LOOP NAME="CATEGORIES">
      <div class="category" id="<TMPL_VAR ESCAPE="HTML" NAME="NAME">">
        <TMPL_LOOP NAME="SERVICES">
        <h3><a<TMPL_IF NAME="STATE_WARNING"> class="warning" </TMPL_IF> <TMPL_IF NAME="STATE_CRITICAL"> class="critical"</TMPL_IF> href="<TMPL_VAR NAME="URL">"><TMPL_VAR ESCAPE="HTML" NAME="LABEL"></a></h3>
        <p class="graphbox">
          <a href="<TMPL_VAR NAME="URL">"><img src="<TMPL_VAR NAME="IMGDAY">" alt="<TMPL_VAR ESCAPE="HTML" NAME="LABEL">" <TMPL_IF NAME="IMGDAYWIDTH">width="<TMPL_VAR NAME="IMGDAYWIDTH">" </TMPL_IF> <TMPL_IF NAME="IMGDAYHEIGHT">height="<TMPL_VAR NAME="IMGDAYHEIGHT">"</TMPL_IF>/></a>
          <a href="<TMPL_VAR NAME="URL">"><img src="<TMPL_VAR NAME="IMGWEEK">" alt="<TMPL_VAR ESCAPE="HTML" NAME="LABEL">" <TMPL_IF NAME="IMGWEEKWIDTH">width="<TMPL_VAR NAME="IMGWEEKWIDTH">" </TMPL_IF> <TMPL_IF NAME="IMGWEEKHEIGHT">height="<TMPL_VAR NAME="IMGWEEKHEIGHT">"</TMPL_IF>/></a>
        </p>
        </TMPL_LOOP>
      </div>
      </TMPL_LOOP>
    </div>
    <div id="footer">This page was generated by <a href="http://munin.sourceforge.net/">munin</a> at <TMPL_VAR NAME="TIMESTAMP"></div>
  </body>
</html>
